In [1]:
from dpyr import DataFrame, filter, select, mutate, c, read_csv, head, arrange, wrapperCol
import polars as pl
import pandas as pd

In [16]:
# Pandas DataFrame syntax
df = pd.read_csv("iris.csv")
df = df[df["variety"]  == "Setosa"]
df = df[["sepal.length", "sepal.width"]]
df['sepal.ratio'] = df['sepal.length'] / df['sepal.width']
df = df.sort_values("sepal.ratio", ascending=False)
df.head()

    sepal.length  sepal.width  sepal.ratio
41           4.5          2.3     1.956522
25           5.0          3.0     1.666667
1            4.9          3.0     1.633333
45           4.8          3.0     1.600000
12           4.8          3.0     1.600000

In [17]:
# Polars DataFrame syntax
pl.read_csv(
    "iris.csv"
    ).filter(
        pl.col("variety") == "Setosa"
    ).select("sepal.length","sepal.width"
    ).with_columns(
        (pl.col("sepal.length") / pl.col("sepal.width")).alias("sepal.ratio")
    ).sort(
        "sepal.ratio", descending=True
    ).head()

shape: (5, 3)
┌──────────────┬─────────────┬─────────────┐
│ sepal.length ┆ sepal.width ┆ sepal.ratio │
│ ---          ┆ ---         ┆ ---         │
│ f64          ┆ f64         ┆ f64         │
╞══════════════╪═════════════╪═════════════╡
│ 4.5          ┆ 2.3         ┆ 1.956522    │
│ 5.0          ┆ 3.0         ┆ 1.666667    │
│ 4.9          ┆ 3.0         ┆ 1.633333    │
│ 4.8          ┆ 3.0         ┆ 1.6         │
│ 4.8          ┆ 3.0         ┆ 1.6         │
└──────────────┴─────────────┴─────────────┘

In [18]:
read_csv("iris.csv") \
    | filter(c.variety == "Setosa") \
    | select(c.sepal_length, c.sepal_width, c.variety) \
    | mutate(sepal_ratio=c.sepal_length / c.sepal_width) \
    | arrange(-c.sepal_ratio) \
    | head()

shape: (5, 4)
┌──────────────┬─────────────┬─────────┬─────────────┐
│ sepal_length ┆ sepal_width ┆ variety ┆ sepal_ratio │
│ ---          ┆ ---         ┆ ---     ┆ ---         │
│ f64          ┆ f64         ┆ str     ┆ f64         │
╞══════════════╪═════════════╪═════════╪═════════════╡
│ 4.5          ┆ 2.3         ┆ Setosa  ┆ 1.956522    │
│ 5.0          ┆ 3.0         ┆ Setosa  ┆ 1.666667    │
│ 4.9          ┆ 3.0         ┆ Setosa  ┆ 1.633333    │
│ 4.8          ┆ 3.0         ┆ Setosa  ┆ 1.6         │
│ 4.8          ┆ 3.0         ┆ Setosa  ┆ 1.6         │
└──────────────┴─────────────┴─────────┴─────────────┘