In [1]:
from dpyr import DataFrame, filter, select, mutate, c, read_csv, head, arrange
import polars as pl
import pandas as pd

In [22]:
# Pandas DataFrame syntax
df = pd.read_csv("iris.csv")
df = df[df["variety"]  == "Setosa"]
df = df[["sepal.length", "sepal.width"]]
df['sepal.ratio'] = df['sepal.length'] / df['sepal.width']
df = df.sort_values("sepal.ratio")
df.head()

    sepal.length  sepal.width  sepal.ratio
32           5.2          4.1     1.268293
22           4.6          3.6     1.277778
15           5.7          4.4     1.295455
33           5.5          4.2     1.309524
19           5.1          3.8     1.342105

In [21]:
# Polars DataFrame syntax
pl.read_csv(
    "iris.csv"
    ).filter(
        pl.col("variety") == "Setosa"
    ).select("sepal.length","sepal.width"
    ).with_columns(
        (pl.col("sepal.length") / pl.col("sepal.width")).alias("sepal.ratio")
    ).sort(
        "sepal.ratio"
    ).head()

shape: (5, 3)
┌──────────────┬─────────────┬─────────────┐
│ sepal.length ┆ sepal.width ┆ sepal.ratio │
│ ---          ┆ ---         ┆ ---         │
│ f64          ┆ f64         ┆ f64         │
╞══════════════╪═════════════╪═════════════╡
│ 5.2          ┆ 4.1         ┆ 1.268293    │
│ 4.6          ┆ 3.6         ┆ 1.277778    │
│ 5.7          ┆ 4.4         ┆ 1.295455    │
│ 5.5          ┆ 4.2         ┆ 1.309524    │
│ 5.1          ┆ 3.8         ┆ 1.342105    │
└──────────────┴─────────────┴─────────────┘

In [20]:
read_csv("iris.csv") \
    | filter(c.variety == "Setosa") \
    | select(c.sepal_length, c.sepal_width, c.variety) \
    | mutate(sepal_ratio=c.sepal_length / c.sepal_width) \
    | arrange(c.sepal_ratio) \
    | head()

shape: (5, 4)
┌──────────────┬─────────────┬─────────┬─────────────┐
│ sepal_length ┆ sepal_width ┆ variety ┆ sepal_ratio │
│ ---          ┆ ---         ┆ ---     ┆ ---         │
│ f64          ┆ f64         ┆ str     ┆ f64         │
╞══════════════╪═════════════╪═════════╪═════════════╡
│ 5.2          ┆ 4.1         ┆ Setosa  ┆ 1.268293    │
│ 4.6          ┆ 3.6         ┆ Setosa  ┆ 1.277778    │
│ 5.7          ┆ 4.4         ┆ Setosa  ┆ 1.295455    │
│ 5.5          ┆ 4.2         ┆ Setosa  ┆ 1.309524    │
│ 5.1          ┆ 3.8         ┆ Setosa  ┆ 1.342105    │
└──────────────┴─────────────┴─────────┴─────────────┘